@charset "utf-8";
/* CSS Document */

/*主体部分
------------------------*/
			html,body{padding: 0px;
					  margin: 0px;
					  font-family: "kaiti";
				}
			*{box-sizing: border-box;
			}
			html{overflow: hidden;	
			}
			body{overflow-x: hidden;
				 overflow-y: auto;
				 height: 100vh;
				 perspective: 1px;
				 transform-style: preserve-3d;
			}
/*导航部分
------------------------*/
			nav{padding-top: 1em;
				background:rgba(192,192,192,.6);
				width: 100vw;
				height: 10vh;
				}
			.tittle{float: left
			}
			nav li{display:inline-block;
					float:right;
					/*background-color: aqua;*/
					margin: 0 0.5em;
					text-align: center;
					/*line-height: 8em;*/
					list-style: none;
					font-size: 1.5em;
					 }
			a{text-decoration: none;
				color: white;	
			}
			a:hover{text-decoration: underline;
			}
			 ul li:nth-child(1){padding-right: 4em;

			}
			.tittle{font-size: 2em;
					color: white;
					line-height: 10vh;
					padding-left: 2em;
					font-family:Microsoft-YaHe;
			}
			header{height: 100vh;
				   width: 100vw;
				   text-align: center;
			}
			header h1{color: white;
					  font-size: 5em;
					  font-family: MicrosoftYahe;
					  width: 100vw;
					  padding-top: 0.5em;
			}
			header h2{color: white;
					  font-size: 4em;
					  font-family: MicrosoftYahe;
					  width: 100vw;
					  padding-top: -1em;
			}
			header h3{color: white;
					  font-size: 2em;
					  font-family: MicrosoftYahe;
					  width: 100vw;
					  padding-top: 1em;
					  }
			.title{padding-top: -2em;}
			.titleplace{padding-top: 0px;}
			header::before{content: "";
							display: block;
							background-image:url("../img/chengshitu.jpg");
							background-size: 100%;
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;
							z-index:-1;
							transform-style: inherit;
							height: 100vh;
							transform: translateZ(-1px) scale(2);			
							}
/*内容主体部分
------------------------*/
			main{display: flex;
				justify-content: center;
				position: relative;
				background-color: white;
				}
			article{width: 60vw;
					color: black;
					font-size: 1.5em;
					text-align: justify;
					letter-spacing: 0.025em;
					text-indent: 2em;
					line-height: 1.5em;
					}
			.text{margin-top: 2em;}
/*强调部分
------------------------*/
			.emphasizeword{font-size: 1.5em;
							font-style: italic;
							font-weight: bold;
							color: #E42E31;
							}
			.emphasizecolor{font-size: 1.2em;
							color: #E42E31;}
/*第二张页面背景部分
------------------------*/
			.titlebackground{height: 60vh;
								width: 100vw;
								text-align: center;
								background-image:url("../img/fukantu.jpg");
								background-size: cover;
							}
			.titlebackground h2{padding-top: 3em;
								font-size: 4em;
								color: white;
								font-family: Microsoft Yahe;
}
/*图片和数据来源部分
------------------------*/
			.image{width: 63vw;
					height: 60vh ;
					margin-left: -1em;}
			
			.dataplace{font-size: 1em;
				margin-top:-1.875em;}
			.dataplace{font-size: 1em;
				margin-top:-1.1em;}

		
/*第一至六个可视化数据图的文字介绍及表格
----------------------------------*/				
			.location{text-align: center;}   
/*页脚设置
----------------------------------*/
			footer a{font-family: 'icomoon';
					display: block;
					font-size: 3em;
					text-align: center;
					color: white;
					}
			@font-face {font-family: 'icomoon';
						  src:  url('../fonts/icomoon.eot');
						  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
							url('../fonts/icomoon.ttf') format('truetype'),
							url('../fonts/icomoon.woff') format('woff'),
							url('../fonts/icomoon.svg') format('svg');
						  font-weight: normal;
						  font-style: normal;
						  font-display: block;
						}
			.foot{width: 100%;
					height: 30vh;
					background: rgba(0,102,203,1);
					margin-top: 1em;
					padding-top: 1em;
					color: white;
					text-align: center;
					}
			.thefoot{text-align: center;}
			.lastword{margin-top: 1em;}
			
